<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: body">
<head><title>Books</title></head>
<body>

<h4 class="mb-3">All Books</h4>

<form th:action="@{/}" method="get" class="d-flex mb-3">
    <input class="form-control me-2" type="text" name="keyword" placeholder="Search by title/author" th:value="${keyword}">
    <button class="btn btn-outline-secondary btn-sm">Search</button>
</form>

<table class="table table-sm table-bordered table-hover">
    <thead class="table-light">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Available</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.available ? 'Yes' : 'No'}"></td>
        <td>
            <a th:href="@{'/book/edit/' + ${book.id}}" class="btn btn-sm btn-outline-warning">Edit</a>
            <a th:href="@{'/book/delete/' + ${book.id}}" class="btn btn-sm btn-outline-danger"
               onclick="return confirm('Delete this book?')">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
